body{
    font-family: 'Times New Roman',Georgia,  Times, serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.flexbox{
    display: flexbox;
    margin: 0 80px 80px 80px;
    transition: 0.1s;

}

input{
    border: none;
    border-bottom: 1px solid grey;
    width: 60%;
    margin: 10px;
    font-size: large;

}

button{
    display: block;
    width: 20%;
    border: none;
    height: 40px;

}

.navbar{
    justify-content: center;
    transition: 0.1s ease-in;
    color: white;
    text-shadow: 1px 1px black;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.navbar > h2{
    display: inline-block;
    margin-left: 20px;
}

.navbar > nav{
    display: inline-block;
    float: right;
    color: white;
}

.navbar > h2{
    text-shadow: 1px 1px black;
}

li{
    display: inline;
}

a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: larger;
    justify-content: center;
    transition: 0.1s ease-in;
    text-shadow: 1px 1px black;


}

a:hover{
    font-size: xx-large;
    transition: 0.1s;
}

.burgerimg{
    width: 100%;
    overflow: hidden;
    height: 700px;
    border-radius: 5%;
    background-image: url('burger.jpg');
    background-repeat: no-repeat;
}

.about{
    width: 70%;
    align-content: center;
    padding: 5px;
    position: relative;
    left: 200px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 2%;
    transition: 0.1s;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.about > img{
    width: 40%;
    float: left;
    margin: 50px;
    border-radius: 5%;
    
}

.about > .card > p{
    margin-top: 100px;
}

.about:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

p{
    color: grey;

}

.card > p:first-of-type{
    color: black;
}

.menu{
    width: 68%;
    align-content: center;
    padding: 20px;
    position: relative;
    left: 200px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 2%;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
         transition: 0.1s;
}

.menu:hover{
    transform: scale(1.1);
}

.menuimg > img{
    width: 300px;
    float: right;
    border-radius: 5%;

}

.contact{
    width: 70%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 2%;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 12.1 */
         animation: fadein 4s;
}

.contact > p{
    color: black;
}

.contact > h4{
    color: cadetblue;
    font-weight: bolder;
}

footer{
    bottom: 0;
    margin: 0;
    overflow: hidden;
    display: flexbox;
    flex-wrap: wrap;
    color: grey;
}

.flexbox > .burgerimg > h1{
    top: 200px;
    text-align: center;
    color: white;
    position: relative;
    text-shadow: 1px 1px black;
}

@keyframes fadein{
    from{ opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}